body {
  margin: 0px;
  color: #1D293F;
}

.font70 {
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}

.font58 {
  font-size: 58px;
  font-weight: 700;
  line-height: 64px;
}

.font34 {
  font-size: 34px;
  font-weight: 700;
  line-height: 45px;
}

.font21 {
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
}

.font16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}